/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  overflow-x: hidden;
  background-image:url('/assets/happyslider.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

#info {
float: left;
  position:fixed;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
  background:#000;
  color: #999;
}

header {
  background-color: #000;
}

h2 {
  background:#fff;
  border-style:solid;
  border-width:thin;
  border-left: none;
  border-right: none;
  border-top:thick double #0000;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 52px;
  margin-bottom: 8px;
  font-family: "Arial Black";
}

h2 img {
  max-height: 28px;
  padding: 0 0 0 5px;
}

header img {
  max-width: 80px;
  max-height: 80px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.row {
.col-xs-6 {
  background-color: #FFF;
  padding: 5px 0 5px 18px;
  font-size: 10px;
  img {
   max-height: 180px;
   border-style:solid;
   border-width:medium;
   border-color: #f5f6f6;
  }
  p {
  color: #999;
  margin:1px 0 1px 0;
  }
  p1 {
  color: #4fc0fa;
  font-size: 14px;
  border-style:solid;
  border-width:thin;
  border-left: none;
  border-right: none;
  background-color: #ddf3fe;
  }
 }

}

#topnav {
  padding: 0 0 0 10px;
}

.btn-xs {
  background-color: #F8F8FF;
}

.btn-xs :hover {
  color: #FFF;
}

.btn-custom {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:28px;
  line-height:18px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.btn-custom:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

#mennav, #womennav {
     float: left;
     padding-right: 3px;
}